<div id="templates">
  <header>
    <h1>Templates</h1>
  </header>
  <div class="content">


    <div style="margin-top: 10px;">
      <button>Perform</button>
      <button disabled="disabled">Perform</button>
    </div>
    <div class="checkbox">
      <label>
        <input type="checkbox">
        <span>A checkbox</span>
      </label>
    </div>
    <div class="checkbox">
      <label>
        <input type="checkbox" disabled="disabled">
        <span>A disabled checkbox</span>
      </label>
    </div>
    <div class="radio">
      <label>
        <input type="radio">
        <span>A radio</span>
      </label>
    </div>
    <div class="radio">
      <label>
        <input type="radio" disabled="disabled">
        <span>A disabled radio</span>
      </label>
    </div>
    <div style="margin: 10px 0;">
      <select>
        <option>Google</option>
        <option>Bing</option>
        <option>Yahoo</option>
      </select>
      <select disabled="disabled">
        <option>Google</option>
        <option>Bing</option>
        <option>Yahoo</option>
      </select>
    </div>
    <div style="margin: 10px 0;">
      <input type="text" placeholder="A text input" />
      <input type="text" disabled="disabled" placeholder="A disabled text input" />
    </div>


    <div style="margin-top: 10px;">
      <button id="launch_modal">Launch a modal</button>
    </div>
    <div class="overlay" style="display: none;">
      <div class="page">
        <h1>test</h1>
        <div class="content-area">
          this is some content
        </div>
        <div class="action-area">
          <div class="action-area-right">
            <div class="button-strip">
              <button>Cancel</button>
              <button>Okay</button>
            </div>
          </div>
        </div>
      </div>
    </div>


    <h2>Highlightable lists</h2>
    <p>Specially formatted lists with a hover color and optional hover action and delete action. Can be nested with ease.</p>
    <ul class="highlightable editable">
      <li>
        <a href="#">
          <dl>
            <dt>Number 1</dt>
            <dd>Supporting data here</dd>
          </dl>
        </a>
        <a class="action">hover action</a>
        <ul class="highlightable editable">
          <li>
            <a href="#">
              <dl>
                <dt>Number 2</dt>
                <dd>Supporting data here</dd>
              </dl>
            </a>
            <a class="action">hover action</a>
            <a href="#" class="delete">delete</a>
          </li>
          <li>
            <a href="#">
              <dl>
                <dt>Number 3</dt>
                <dd>Supporting data here</dd>
              </dl>
            </a>
          </li>
        </ul>
      </li>
      <li>
        <a href="#">
          <dl>
            <dt>Number 2</dt>
            <dd>Supporting data here</dd>
          </dl>
        </a>
        <a class="action">hover action</a>
        <a href="#" class="delete">delete</a>
      </li>
      <li>
        <a href="#">
          <dl>
            <dt>Number 3</dt>
            <dd>Supporting data here</dd>
          </dl>
        </a>
        <a class="action">hover action</a>
        <a href="#" class="delete">delete</a>
      </li>
    </ul>
    <div style="margin-top: 50px;">
      <h2>Grouped sections</h2>
      <p>Group related content under a heading with an indent</p>
      <section>
        <h3>A grouped section</h3>
        <div class="radio">
          <label>
            <input type="radio">
            <span>A radio</span>
          </label>
        </div>
        <input type="Text" />
      </section>
      <section>
        <h3>Another grouped section</h3>
        <p>Duis a est odio, in consectetur est. Suspendisse et erat velit, vel rhoncus dui. Nulla a faucibus eros. Integer non nibh ligula. Mauris magna nisi, gravida quis vestibulum vel, imperdiet vestibulum metus. Proin et enim vel ipsum hendrerit fermentum quis ac massa. Pellentesque est massa, egestas ac ullamcorper id, scelerisque quis tellus. Morbi lectus augue, convallis condimentum vestibulum sed, condimentum sed mi. Praesent convallis sem eget dolor tempus gravida. Quisque venenatis nunc dapibus magna elementum non mattis orci bibendum.</p>
      </section>
    </div>
    <div style="margin: 50px 0 30px;">
      <h2>Header variations</h2>
      <p>A bar that contains controls attached to the page header.</p>
      <header style="position: relative; margin-bottom: 30px;">
        <h1>A header with controls</h1>
        <div class="controls">
          <button>left button</button>
          <div class="spacer"></div>
          <button>button</button>
          <button>right button</button>
        </div>
      </header>
      <header style="position: relative; margin-bottom: 30px;">
        <h1>A header with text controls</h1>
        <div class="controls">
          <div class="text">Some text here</div>
          <div class="spacer"></div>
          <div class="text">
            <a href="#">Some text here</a>
          </div>
        </div>
      </header>
      <header style="position: relative; margin-bottom: 30px;">
        <h1>A header with a right text input</h1>
        <div class="corner">
          <input type="text" class="search" placeholder="a text input">
        </div>
      </header>
      <header style="position: relative; margin-bottom: 30px;">
        <h1>A header with a cancel icon in the input</h1>
        <div class="corner cancelable">
          <a href="#" class="delete">delete</a>
          <input type="text" class="search" placeholder="a text input">
        </div>
      </header>
    </div>
  </div>
</div>